body {
    background-color: #ddd;
    margin: 0;              /* Body의 마진 제거 */
}

#svg-container {
    display: flex;          /* Flexbox 사용 */
    justify-content: center; /* 수평 방향으로 중앙 정렬 */
}

.link {
    stroke: #999;
    stroke-opacity: 0.6;
}

.node {
    fill: #f00;
    stroke: #fff;
    stroke-width: 1.5px;
}

svg {
    border: 1px solid black;
    background-color: #fff;
}
